.split {
    height: 100%;
    position: fixed;
    z-index: 1;
    overflow-x: hidden;
    margin-top: 22px;
  }


.split img{
  position: relative;
  top: 7px;
}

.left img {
  margin-left:0px;
}

.right img {
  margin-right:0px;
}
  
  .left {
    left: 10px;
    text-align: left;
    width: 256px;
  }
  
  .right {
    right: 10px;
    text-align: right;
    width: calc(100vw - 300px);
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered img {
    width: 150px;
    border-radius: 50%;
  }