# mod_rewrite starts here
Options +FollowSymLinks
RewriteEngine on

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

# Prevent directory listings
Options All -Indexes


# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the Rule!

RewriteCond %{REQEUSTED_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]