# mod_rewrite starts here
RewriteEngine on

# Prevent directory listings
Options All -Indexes


# does not apply to existing directories, meaning that if the folder exists on the server then don't change anything and don't run the Rule!

RewriteCond %{REQEUSTED_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

# place code for /html/support.html to /support
RewriteCond %{HTTP_HOST} (.*)
RewriteCond %{REQUEST_URI} /html/support.html
RewriteRule ^(.*)$ %1/support? [R=301,L]
